@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}


.Add {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.Add h2 {
  font-size: 2em;
  color: #fff;
}
.Add .inputBx {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.Add .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.Add .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
.Add .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.Add .inputBx select{
  background: linear-gradient(45deg, #ff357a, #fff172);
    color: white;
    font-weight: 900;
    font-size: 20px;
}
.Add .inputBx option{
  
  background-color: #f15922;
}
.Add .links {
  position: relative;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
}
.Add .links a {
  color: #fff;
  text-decoration: none;
}

.main {
  background-image: url(https://cs7.pikabu.ru/post_img/big/2018/01/02/7/1514888586163183462.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}